<div class="registration">

    <a class="btn btn-info m-a d-block h-100" href="/">Bosh sahifa</a>

    <div class="kr">
        <button class="kir">Kirish</button>
    </div>

    <div class="demo">

        <div class="kirish">
            <form name="form" action="/auth/login" method="POST">
                <p>Assalomu alaykum, kirish uchun berilgan login va login kiriting</p>

                <input type="text" name="login" placeholder="Login">
                <input type="password" name="password" placeholder="********">

                <h3 id="dialog"></h3>
                <p>
                    parolingiz esda tuting
                </p>

                <button>Hoziroq kirish</button>
            </form>
        </div>

    </div>



</div>