<div class="malumot">
    <form name="mal" action="/create" method="POST" enctype="multipart/form-data">

        <div class="malumotlar_o_l">
            <p>Ism Familyangizni va Sharf kiriting</p>
            <input type="text" placeholder="F.I.Sh" name="name">

            <p>Kursizni kiriting</p>

            <div class="kurs">
                <label>
                    <input type="radio" name='course' id="bir" value="1">
                    <span>1</span>
                </label>

                <label>
                    <input type="radio" name='course' id="ikki" value="1">
                    <span>2</span>
                </label>

                <label>
                    <input type="radio" name='course' id="uch" value="1">
                    <span>3</span>
                </label>

                <label>
                    <input type="radio" name='course' id="tort" value="1">
                    <span>4</span>
                </label>
            </div>


            <p>Nomeringizni kiriting</p>
            <input type="number" placeholder="+998 ___ __ __" name="number">

            <p>Ijtimoiy holati</p>
            <select class="select holat" name="situation">
                <option value="">....</option>

                <option value="chin yetim">Chin yetim</option>

                <option value="yarim yetim">Yarim yetim</option>

                <option value="ijtimoiy">Ijtimoiy</option>
            </select>


            <p>Nogironlik guruhingizni tanlang</p>
            <select class="select" name="disabled" id="">
                <option value="">.....</option>
                <option value="yoq">Yo'q</option>
                <option value="bir_g">1-guruh</option>
                <option value="ikki_g">2-guruh</option>
                <option value="uch_g">3-guruh</option>
            </select>


            <div class="ptich">
                <p>Ma'lumotlaringizni to'liq kiritib bo'ldingizmi</p>
                <input name="agree" type="checkbox">
            </div>

        </div>

        <div class="malumotlar_o_r">
            <p>Doimiy yashash manzili</p>
            <input type="text" placeholder="Doimiy yashash manzili" name="address">

            <p>Jinsizni tanlang</p>
            <div class="kurs">
                <label>
                    <input type="radio" name='gender' id="Erkak" value="1">
                    <span>Erkak</span>
                </label>

                <label>
                    <input type="radio" name='gender' id="Ayol" value="1">
                    <span>Ayol</span>
                </label>

            </div>

            <p>Rasmiz yuklang</p>
            <div class="upload">
                <img src="image/profile.png" width="100" height="100" alt="">
                <div class="round">
                    <input type="file" name="profileImg">
                    <i class="fa fa-camera" style="color:#fff"></i>
                </div>
            </div>

            <p>Fakultet tanlang</p>
            <select class="select" name="faculty">
                <option value="">....</option>

                <option value="KIF">Kompyuter injiniringi: kompyuter injiniringi</option>

                <option value="At">Kompyuter injiniringi: AT-Servis</option>

                <option value="MT">Kompyuter injiniringi: multimedia texnologiyalari</option>

                <option value="DIF">Dasturiy injiniring</option>

                <option value="AX">Axborot xavfsizligi (sohalar bo`yicha)</option>

                <option value="TEL">Telekommunikatsiya texnologiyalari</option>

                <option value="KUT">Kutubxona-axborot faoliyati (faoliyat turlari bo`yicha)</option>
            </select>

            <p>Emailigizni kiriting</p>
            <input type="email" id="mail" name="email">
            <br> <br>
            <input name="tugma" type="submit">
        </div>

    </form>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <a class="w-100 btn btn-lg btn-danger" href="/auth/logout">logout</a>
            </div>
        </div>
    </div>

</div>