<form action="/create/sendMail/{{email.id}}" method="POST">
  <input type="text" />
  <h1>{{title}}</h1>
  <p>{{email.email}}</p>
  {{!-- <a href="/create/view">View</a> --}}
  <button>
    asdasd
  </button>
</form>