{{! <form action="/create/sendMail/ email.id" method="POST">
  <input type="text" name="name" />
  <h1>title</h1>
  <p>email.email</p>
</form> }}

<form action="/create/sendMail/email.id" method="post">
  From:
  <input type="email" name="from" id="from" class="email" required /><br /><br
  />
  To:
  <input
    type="email"
    name="to"
    id="to"
    value="{{email.email}}"
    class="email"
    required
  /><br /><br />
  Subject:
  <input type="text" name="subject" id="subject" class="subject" required /><br
  /><br />
  Message:<br />
  <textarea id="message" name="message" class="message" required></textarea>
  <br /><br />
  <button type="submit" class="submit">Send</button>
</form>