<div class="about" id="about">
  <div class="about__in">
    <div class="about__in__left">
      <img
        src="image/image1.jpg"
        class="img__name animate__animated bounceInLeft"
        data-wow-delay="1.5s"
        data-wow-duration="2s"
        data-wow-offset="70"
        alt=""
      />
    </div>

    <div class="about__in__right">
      <p>
        Universitet telekommunikatsiya va axborot tizimlari sohasida Markaziy
        Osiyoda yetakchi oʻquv muassasasi hisoblanadi. Oʻzbekiston Respublikasi
        Prezidentining 2005-yil 2-iyunda qabul qilingan „Axborot texnologiyalari
        sohasida kadrlar tayyorlash tizimini takomillashtirish toʻgʻrisida“gi
        Qaroriga binoan TATU axborot-kommunikatsiya texnologiyalari sohasida
        kadrlar tayyorlash boʻyicha tayanch oliy oʻquv muassasasi hisoblanadi.
      </p>
    </div>

    <div class="about__in__left">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque unde vel
        animi, similique quisquam aspernatur earum exercitationem minus magni
        magnam commodi voluptates fugiat praesentium ipsa. Itaque temporibus
        odio voluptates odit. Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Hic, praesentium omnis sunt eos officia, vero
        asperiores, pariatur nihil accusantium neque ullam saepe. Quaerat,
        asperiores illo esse et illum ullam laboriosam.
      </p>
    </div>

    <div class="about__in__right">
      <img
        src="image/yotoqxona_1.jpg"
        class="img__name wow bounceInRight"
        data-wow-delay="1.5s"
        data-wow-duration="1.5s"
        data-wow-offset="70"
        alt=""
      />
    </div>

    <div class="about__in__left">
      <img
        src="image/yotoqxona_1.jpg"
        class="img__name wow bounceInLeft"
        data-wow-delay="1.5s"
        data-wow-duration="1.5s"
        data-wow-offset="70"
        alt=""
      />
    </div>

    <div class="about__in__right">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis minima a
        id expedita excepturi, reiciendis alias iste dolorum, modi atque
        aspernatur illum autem debitis officiis totam ut? Ipsa, aliquam animi?
      </p>
    </div>
  </div>
</div>

{{!-- <h1 class="animate__animated animate__bounce">An animated element</h1> --}}