<div class="about" id="about">
  <div class="about__in">
    <div class="about__in__left">
      <img src="image/image1.jpg" class="img__name animate__animated bounceInLeft" data-wow-delay="1.5s"
        data-wow-duration="2s" data-wow-offset="70" alt="" />
    </div>

    <div class="about__in__right">
      <p>
        Universitet telekommunikatsiya va axborot tizimlari sohasida Markaziy
        Osiyoda yetakchi o'quv muassasasi hisoblanadi. O'zbekiston Respublikasi
        Prezidentining 2005-yil 2-iyunda qabul qilingan „Axborot texnologiyalari
        sohasida kadrlar tayyorlash tizimini takomillashtirish to'g'risida“gi
        Qaroriga binoan TATU axborot-kommunikatsiya texnologiyalari sohasida
        kadrlar tayyorlash bo'yicha tayanch oliy o'quv muassasasi hisoblanadi.
        TTJ universitetga Qoraqalpog'iston Respublikasi, viloyatlar va xorijdan kelib taxsil olayotgan talabalarni turar
        joy bilan ta'minlash va darsdan bo'sh vaqtini mazmunli tashkil etishni maqsad qilgan.
        Ayni paytda TATU talabalar turar joyining 3 ta binosi mavjud bo'lib, ularda 503 nafar talabaning yashashi uchun
        zarur sharoitlar yaratilgan. Har bir blokda xorijiy talabalar uchun 12 tadan joy ajratilgan.
        Shuningdek, TTJda talabalarning bo'sh vaqtini mazmunli tashkil etish uchun 5 ta muhim tashabbus xonalari ham
        tashkil etilgan.
      </p>
    </div>

    <div class="about__in__left">
      <p>
        Ayni paytda TTJda 496 nafar talaba (163 nafar qiz, 2 nafar xorijiy talaba) istiqomat qilmoqda.
        TTJda barcha xonalar qattiq va yumshoq krovat, mebel, xona jihozlari (ko'rpa-to'shak, jildlar) bilan
        ta'minlangan. Bino hududida muntazam ravishda obodonlashtirish ishlari amalga oshiriladi.
        Jumladan, hududda dekorativ daraxtlar, bir yillik va ko'p yillik gul ko'chatlari ekilgan, daraxt va yo'laklar
        oqlangan. Barcha jihozlar soz holatda, sanitariya xolati yaxshi, yong'in xavfsizligi talablariga amal
        qilinmoqda.
        O'quv zali, ma'naviyat va ma'rifat xonasi tibbiyot hamda tarbiyachilar xonalari “Talabalar turar joyi”ning
        birinchi qavatida joylashgan. Har bir qavatda oshxona, hojatxona, yuvinish xonasi mavjud.
      </p>
    </div>

    <div class="about__in__right">
      <img src="image/yotoqxona_1.jpg" class="img__name wow bounceInRight" data-wow-delay="1.5s"
        data-wow-duration="1.5s" data-wow-offset="70" alt="" />
    </div>

    <div class="about__in__left">
      <img src="image/yotoqxona_1.jpg" class="img__name wow bounceInLeft" data-wow-delay="1.5s" data-wow-duration="1.5s"
        data-wow-offset="70" alt="" />
    </div>

    <div class="about__in__right">
      <p>
        TTJlarda istiqomat qiluvchilarning o'z-o'zini boshqaruv tizimini tashkil etish maqsadida faol va jamoatchi
        talabalardan iborat “Talabalar Kengashi” faoliyat yo'lga qo'yilgan. Kengash yig'ilishlarida talabalar turar
        joyidagi shart-sharoitlar, talabalarning ichki tartib-intizomga rioya etishi, navbatchilik, TTJda o'tkaziladigan
        turli bayramlarga tayyorgarlik kabi masalalar muhokama qilinadi.
        Universitet talabalar turar joyida tarbiyaviy ishlarga fakultet dekanlari, yoshlar bilan ishlash bo'yicha dekan
        muovinlari, professor-o'qituvchilar va murabbiylar jalb etilgan.
        TTJda muntazam ravishda universitet rahbariyati, talabalar turar joyi ma'muriyati, O'zbekiston yoshlar ittifoqi
        boshlang'ich tashkiloti hamda universitet kafedralari tomonidan talabalarning xohish-istaklaridan kelib chiqib
        turli ma'naviy-ma'rifiy, tarbiyaviy tadbirlar, uchrashuvlar, davra suhbatlari tashkil etiladi.
      </p>
    </div>
  </div>
</div>