<div class="gallery" id="gallery">
  <div class="gallery__in">
    <h1>Gallery</h1>
    <p>Muhammad al-Xorazmiy nomidagi Toshkent Axborot Texnologiyalari
      Universiteti
      <br />
      yotoqxonalari rasmlari
    </p>
    <div class="gallery__navbar">

      <button class="umumiy">
        Umumiy rasmlar
      </button>

      <button class="kutubxona_s">
        Kutubxona
      </button>

      <button class="sport_s">
        Sport
      </button>

      <button class="damolish_s">
        Yotoqxona
      </button>

      <button class="oshxona_s">
        Oshxona
      </button>

      <button class="yuvinish_s">
        Yuvinish
      </button>

    </div>
    <div class="umumiy_r">

      {{! <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt=""> }}

      <img src="image/kutubxona-1.jpg" alt="" />
      <img src="image/kutubxona-2.jpg" alt="" />
      <img src="image/kutubxona-3.jpg" alt="" />
      <img src="image/kutubxona-4.jpg" alt="" />
      <img src="image/kutubxona-5.jpg" alt="" />
      <img src="image/kutubxona-6.jpg" alt="" />
      <img src="image/sport-1.jpg" alt="" />
      <img src="image/sport-2.jpg" alt="" />
      <img src="image/sport-3.jpg" alt="" />
      <img src="image/yotoqxona-1.jpg" alt="" class="UmumiyImg" />
      <img src="image/yotoqxona-2.jpg" alt="" />
      <img src="image/yotoqxona-3.jpg" alt="" />
      <img src="image/yotoqxona-4.jpg" alt="" class="UmumiyImg" />
      <img src="image/oshxona-1.jpg" alt="" />
      <img src="image/oshxona-2.jpg" alt="" />
      <img src="image/oshxona-3.jpg" alt="" />
      <img src="image/oshxona-4.jpg" alt="" />
      <img src="image/yuvinish-1.jpg" alt="" />
      <img src="image/yuvinish-2.jpg" alt="" />
      <img src="image/yuvinish-3.jpg" alt="" />
      <img src="image/yuvinish-4.jpg" alt="" />
      <img src="image/yuvinish-5.jpg" alt="" />

    </div>

    <div class="kutubxona">

      <img src="image/kutubxona-1.jpg" alt="" />
      <img src="image/kutubxona-2.jpg" alt="" />
      <img src="image/kutubxona-3.jpg" alt="" />
      <img src="image/kutubxona-4.jpg" alt="" />
      <img src="image/kutubxona-5.jpg" alt="" />
      <img src="image/kutubxona-6.jpg" alt="" />

    </div>

    <div class="sport">
      <img src="image/sport-1.jpg" alt="" />
      <img src="image/sport-2.jpg" alt="" />
      <img src="image/sport-3.jpg" alt="" />

    </div>

    <div class="damolish">

      <img src="image/yotoqxona-1.jpg" alt="" class="yotoqxonaImg yotoqxonaImg2" />
      <img src="image/yotoqxona-2.jpg" alt="" />
      <img src="image/yotoqxona-3.jpg" alt="" />
      <img src="image/yotoqxona-4.jpg" alt="" />

    </div>

    <div class="oshxona">

      <img src="image/oshxona-1.jpg" alt="" />
      <img src="image/oshxona-2.jpg" alt="" />
      <img src="image/oshxona-3.jpg" alt="" />
      <img src="image/oshxona-4.jpg" alt="" />

    </div>

    <div class="yuvinish">

      <img src="image/yuvinish-1.jpg" alt="" />
      <img src="image/yuvinish-2.jpg" alt="" />
      <img src="image/yuvinish-3.jpg" alt="" />
      <img src="image/yuvinish-4.jpg" alt="" />
      <img src="image/yuvinish-5.jpg" alt="" />

    </div>

  </div>
</div>