<div class="gallery" id="gallery">
    <div class="gallery__in">
        <h1>Gallery</h1>
        <p>Muhammad al-Xorazmiy nomidagi
            Toshkent Axborot Texnologiyalari Universiteti <br> yotoqxonalari rasmlari
        </p>
        <div class="gallery__navbar">

            <button class="umumiy">
                Umumiy rasmlar
            </button>

            <button class="kutubxona_s">
                Kutubxona
            </button>

            <button class="sport_s">
                Sport
            </button>

            <button class="damolish_s">
                Damolish
            </button>

            <button class="oshxona_s">
                oshxona
            </button>

            <button class="yuvinish_s">
                Yuvinish
            </button>

        </div>
        <div class="umumiy_r">

            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">

        </div>

        <div class="kutubxona">

            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">

        </div>

        <div class="sport">

            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">

        </div>

        <div class="damolish">

            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">

        </div>

        <div class="oshxona">

            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">
            <img src="image/image1.jpg" alt="">

        </div>

        <div class="yuvinish">

            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">
            <img src="image/yotoqxona_1.jpg" alt="">

        </div>


    </div>
</div>