{{! <nav class="main-header navbar navbar-expand navbar-dark" style="display: flex;justify-content: space-between;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/create" class="nav-link">Ariza topshirish</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" data-target="#navbar-search1" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block" id="navbar-search1" style="display: none;">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search"
                            aria-label="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <a class="w-100 btn btn-lg btn-danger" href="/auth/logout"
            style="width: 98px !important;height: 48px !important;">logout</a>
    </ul>
</nav> }}

<nav class="main-header navbar navbar-expand navbar-dark">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/create" class="nav-link">Ariza topshirish</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto navbar-navRight">

        <li class="nav-item">
            <a class="nav-link nav-linkIcon" data-widget="navbar-search" data-target="#navbar-search1" href="#"
                role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block" id="navbar-search1" style="display: none;">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" onkeyup="myFunction()" type="search"
                            placeholder="Search" aria-label="Search" id="myInput" />
                        <div class="input-group-append">
                            <button class="btn btn-navbar nav-linkClose" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <a class="w-100 btn btn-lg btn-danger click-btn-danger" href="/auth/logout"
            style="width: 98px !important;height: 48px !important;">logout</a>
    </ul>
    {{!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."
        title="Type in a name" /> --}}
</nav>

<script>
    let iconSearch = document.querySelector('.nav-linkIcon')
    let noneBtn = document.querySelector('.click-btn-danger')
    let closeBtn = document.querySelector('.nav-linkClose')

    iconSearch.addEventListener('click', () => {
        noneBtn.style.opacity = 0
        noneBtn.style.transition = .5
    })
    closeBtn.addEventListener('click', () => {
        noneBtn.style.opacity = 1
        ul.style.top = '-20%'
    })



    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        let closeSearch = document.querySelector('.nav-linkClose')
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.querySelector(".myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
                ul.style.top = '0%'
            } else {
                li[i].style.display = "none";
            }
            closeSearch.addEventListener('click', () => {
                ul.style.top = '-20%'
            })
        }
    }
</script>

{{!--
<script>
    function myFunction() {
        let closeSearch = document.querySelector('.nav-linkClose')
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
                ul.style.top = '0%'
            } else {
                li[i].style.display = "none";
            }
        }
        closeSearch.addEventListener('click', () => {
            ul.style.top = '-20%'
        })
    }
</script> --}}