<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <div class="containers">
        {{{body}}}
        <div class="home">
            {{> navbar}}
            {{> header}}
        </div>

        {{> about}}

        {{> gallery}}

        {{> footer}}

        {{> cop}}
    </div>
</body>

</html>